{
    "presets": [["@babel/preset-env", {targets: {node: "current"}}], "@vue/cli-plugin-babel/preset"],
    "plugins": ["transform-regenerator"],
    "env": {
        "test": {
          "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
}
