{
    
    "presets": [['@babel/preset-env', {targets: {node: 'current'}}]],
    "plugins": ["transform-regenerator"],
    "env": {
        "test": {
          "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
}
